body {
    background-image: url(./img/orange-blue-cupboard.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.navigation-bar-only-mobile {
    display: none;
}

#text-wall-only-for-mobile {
    display: none;
}

@media (max-width: 768px) {
    .navigation-bar {
        display: none;
    }

    .navigation-bar-only-mobile {
        display: block;
        height: 80px;

        text-align: center;
        align-content: center;

        a {
            font-size: 25px;
            color: white;
        }
    }

    /* hide carrousel because on mobile you cant see such small image */
    #servicios {
        display: none;
    }

    .styles-for-footer-on-mobile {
        font-size: 12px;
    }

    #text-wall-only-for-mobile {
        display: block;
    }


}