body {
    background-image: url(./img/orange-blue-cupboard.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.navigation-bar-only-mobile {
    display: none;
}

@media (max-width: 768px) {
    .navigation-bar {
        display: none;
    }

    .navigation-bar-only-mobile {
        display: block;
        height: 50px;

        text-align: center;
        align-content: center;

        a {
            font-size: 30px;
            color: white;
            text-decoration: none;
        }
    }

    .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;

    }
}